<h1>Followers:</h1>

<br>
<% if @subscriptions.present? %>
	<% @subscriptions.each do |subscription| %>
	  <li><%= link_to subscription.subscriber.username, user_url(subscription.subscriber_id) %> |
	  <%= link_to 'Delete', subscription, method: :delete, data: { confirm: 'Select OK to confirm deletion.' } %></li>
	<% end %>
<% else %>
	No followers yet.
<% end %>
