<h1>Subscribed To:</h1>

<br>
<% if @subscriptions.present? %>
  <% @subscriptions.each do |subscription| %>
    <li><%= subscription.user.username %></li>
  <% end %>
<% else %>
  No subscriptions yet.
<% end %>
